<div class="container pt-3">
  <div class="row">
    <div class="col-12">
      <h1>
        <span>1年後、、、</span>
        <br class="visible-xs-block">
        <% if @result.total > 30000 %>
        <span class="font_green"><%= "#{@result.total / 10000.to_f.round(1)}億円" %></span>
        <% else %>
        <span class="font_red"><%= "#{@result.total / 10000.to_f.round(1)}億円" %></span>
        <% end %>
      </h1>
      <h1 class="font_red">
        <% if @result.total > 30000 %>
          <%= image_tag 'moguro.png',width: '300px', height: '350px', class: "image_list" %>
          <br><span class="font_green"><%= "#{current_user.name}は"%></span><span class="font_green"><br class="visible-xs-block">無事借金を返済できました！</span>
        <% else %>
          <%= image_tag 'moguro.png',width: '300px', height: '350px', class: "image_list" %>
          <br><span><%= "#{current_user.name}は"%></span><span><br class="visible-xs-block">破産しました</span>
        <% end %>
      </h1>
      <div>
        <% if @result.total > 30000 %>
          <%= link_to 'Twitterに投稿する', "https://twitter.com/intent/tweet?text=%E7%84%A1%E4%BA%8B%E3%81%AB%E8%BF%94%E6%B8%88%E3%81%A7%E3%81%8D%E3%81%BE%E3%81%97%E3%81%9F%E3%80%82%0A%E3%82%82%E3%81%86%E9%97%87%E9%87%91%E3%81%AA%E3%82%93%E3%81%A6%E6%80%96%E3%81%8F%E3%81%AA%E3%81%84%EF%BC%81%0Acryptic-retreat-09777.herokuapp.com", class: 'btn btn-default btn-lg' %>
          <br><br><%= link_to '戻る', logout_path, method: :delete %>
        <% else %>
          <%= link_to 'Twitterに投稿する', "https://twitter.com/intent/tweet?text=%E8%A6%8B%E4%BA%8B%E3%81%AB%E7%A0%B4%E7%94%A3%E3%81%97%E3%81%BE%E3%81%97%E3%81%9F%EF%BC%81%0A%E3%81%8A%E9%87%91%E3%81%AF%E5%A4%A7%E5%88%87%E3%81%AB%E4%BD%BF%E3%81%84%E3%81%BE%E3%81%97%E3%82%87%E3%81%86%E3%80%82%0Acryptic-retreat-09777.herokuapp.com", class: 'btn btn-default btn-lg' %>
          <br><br><%= link_to '戻る', logout_path, method: :delete %>
        <% end %>
      </div>
      <%= line_chart Investment.where(user_id: current_user.id).pluck(:month, :total), curve: false, discrete: true, colors: ["#fff", "#fff"] %>

      <div class="users">
        <% if @investments.present? %>
          <% @investments.each do |investment| %>
            <li>
              <% if investment.total > 30000 %>
                <%= "#{investment.month}ヶ月目" %>
                <span class="font_green"><%= "#{investment.total / 10000.to_f.round(1)}億円"%></span><br><%= "（債権: #{investment.bonds}万円、株式: #{investment.stock}万円、"%><br class="visible-xs-block"><%= "パチンコ: #{investment.pachinko}万円、貯金: #{investment.saving}万円）" %>
              <% else %>
                <%= "#{investment.month}ヶ月目" %>
                <span class="font_red"><%= "#{investment.total / 10000.to_f.round(1)}億円"%></span><br><%= "（債権: #{investment.bonds}万円、株式: #{investment.stock}万円、"%><br class="visible-xs-block"><%= "パチンコ: #{investment.pachinko}万円、貯金: #{investment.saving}万円）" %>
              <% end %>
            </li>
          <% end %>
        <% else %>
          <p><%= '投資結果がありません' %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <%= link_to '戻る', logout_path, method: :delete %>
  </div>
</div>