<div class="container">
  <div class="row">
    <div class="col-md-6 ">
      <h1>
        <span class="font_red">
          笑ゥ
        </span>
        <br class="visible-xs-block"><span>
          ふぁいなんしゃる<br class="visible-xs-block">ぷらんなぁ とは
        </span>
      </h1>
      <div class="balloon3">
        <p>「笑ゥふぁいなんしゃるぷらんなぁ」は、<br>
            貧困に悩むあなたを、<span class="font_red">「１年」で億万長者</span>に変えてくれます。<br>
            あなたも億万長者になる為、ぷらんなぁに人生を託してみませんか？
        </p>
      </div>
      <%= form_with model: @user, local: true do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :income %>
            <%= f.text_field :income, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :saving %>
            <%= f.email_field :saving, class: 'form-control' %>

          <div class="actions">
            <%= f.submit '人生を託す', class: 'btn btn-primary' %>
          </div>
      <% end %>
      <div class='text-center'>
        <%= link_to '他人の人生を見てみる', root_path %>
      </div>
    </div>
  </div>
</div>